body {
    background-color: black;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    background-color:slategray;
    padding: 50px;
    gap: 10px;
}

.calc-header {
    display: flex;
    background-color:dimgray;
    justify-content: center;

}

.buttons-2 {
    display: flex;
    flex-direction: column;
    align-items:
    margin-bottom: 200px;
}