body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.btn {
    height: 50px;
    width: 50px;
    margin: 15px;
    font-size: 40px;
}

.other-rows .number:hover {
    border: 1px solid lightblue;
    border-radius: 10px;
    background-color: blue;
}

.other-rows .operator{
    border: 1px solid orange;
    border-radius: 10px;
}

.other-rows .period {
    border: 1px solid green;
    border-radius: 10px;
}

#clear-btn {
    border: 1px solid violet;
    border-radius: 10px;
}

.other-rows .equals {
    border: 1px solid violet;
    border-radius: 10px;
}

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#screen {
    width: 225px;
    border: 1px solid salmon;
    height: 75px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous {
    font-size: 20px;
}

.current {
    font-size: 30px;
}